<div>
    <script type="text/ng-template" id="ProductModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{[{ product.title }]}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputTitle">Title</label>
                <input type="email" class="form-control" id="exampleInputTitle" placeholder="Enter title" value="{[{ product.title }]}">
            </div>
            <div class="form-group">
                <label for="exampleInputDescription">Description</label>
                <textarea class="form-control" id="exampleInputDescription" rows="3">{[{ product.description }]}</textarea>
            </div>
            <div class="product-photo">
                <div class="photo" ng-repeat="photo in product.photos">
                    <div>
                        <img class="modal-photo img-rounded" ng-src="{{ asset('upload/images/{[{photo.photo}]}') }}"  />
                        <div class="btn-img-remove">
                            <button class="btn btn-danger btn-xs" ng-controller="Modal" ng-click="confirmRemoveImg()">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "AppProductsBundle:Products:uploader.html.twig"  %}
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="MessageRemovePhotoModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Deleting a photo</h3>
        </div>
        <div class="modal-body">
            <span>Are you sure you want to delete the photo?</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="RemoveImg()">Delete</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="MessagePhotoModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{[{ modal.title }]}</h3>
        </div>
        <div class="modal-body">
            <span>{[{ modal.message }]}</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>