<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>
        {% block title 'Тестовое приложение' %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <link href="{{ asset('bundles/products/css/structure.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/products/css/body.css') }}" rel="stylesheet" />
        <link href="//yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="icon" sizes="16x16" href="{{ asset('/favicon.ico') }}" />

    {% endblock %}
</head>
<body>
    {% block body %}
        <div id="content">
            <div class="sf-reset">
                <div class="block">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>



